#igraw{
	width:100%;
	height:50px;
	text-align:center;
}

#igrai{
	width:100%;
	height:50px;
	text-align:center;
}

#igrawt{
	width:100%;
	height:50px;
	text-align:center;
}

#igracoh{
	width:100%;
	height:50px;
	text-align:center;
}

#cohslike{
	width:100px;
	height:100px;
	text-align:center;
	margin:20px;
}

.linkovi{  
	width:100%;
	height: 100%;
	text-align: center;
}

#gutten tag{
	text-align:center;
}

#banner{
	width:1880px;
	height:200px;
	text-align:center;
	background-color:blue;
}

#ja{
	width:600px;
	height:200px;
	text-align:center;
	background-color:red;
}



